%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{require_otp_vsn, "R16"}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning,
            {parse_transform, lager_transform}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "HEAD"}}
       ]}.

