%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning,
            {parse_transform, lager_transform}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}}
       ]}.

